:root {
  --u4-green: #81b748;
  --u4-black: #424747;
  --u4-white: #ffffff;
  --u4-blue: #4177a9;
  --u4-gray: #f5f6f6;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

*:focus-visible {
  outline-color: var(--u4-blue);
  outline-offset: 2px;
}

button {
  padding: 5px;
  margin: 2px;
  border: 1px solid var(--u4-black);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.tab-wrapper {
  display: inline-block;
  margin-right: 10px;
}

.close-tab-button {
  
}

